google-chrome*
autostart
Brave*
bspwm
cef_user_data
chromium
conky
dconf
enchant
eog
evolution
gedit
gnome*
goa
gpick
gsconnect
gtk*
ibus
JetBrains
microsoft*
memeapps
nautilus
nitrogen
nm_demnu
pulse
pavucontrol
sxhkd
update
user-dirs*
yelp
awesome/revelation/
ranger/plugins/ranger_devicons/
ulauncher/user-themes/
